@use '../../scss' as *;

.modal {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    scroll-behavior: unset;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    width: 50%;
    min-height: 100px;
    background-color: $body-bg;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;

    overflow-y: auto;

    @include tablet {
        width: 80%;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;

    h4 {
        font-weight: 500;
        color: $hover-color;
    }
}

.modal-close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;

    width: 30px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 5px;
    color: $white;
    &:hover {
        background: $main-color;
    }
    i {
        width: 2rem;
        font-weight: bold;
        &:hover {
            color: $hover-color;
        }
    }
}
